.form-center-block{
    width: 50%;
}
.myclassmarker ul {
	list-style-type: none;
}
/*Jquery validate style*/

.my-error-class {
	
    color:#D9534F;
}
.my-valid-class {
    color:green;
}

.pl-search-form {
    margin-left: 0;
    margin-right: 0;
}

#signin > ul > form > li {
    padding: 5px 10px;
}

/*Scrollable dropdown button*/

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

/*Profile page one's view*/

#message {
    display:none
}
.modal.fade:not(.in) .modal-dialog {
    -webkit-transform: translate3d(125%, 0, 0);
    transform: translate3d(125%, 0, 0);
}
.panel {
    margin-bottom: 1px;

}
#performance p {
    margin-top: 0.5em; /* Отступ сверху */
    margin-bottom: 0.5em; /* Отступ снизу */
   }
#info p {
    margin-top: 0.5em; /* Отступ сверху */
    margin-bottom: 0.5em; /* Отступ снизу */
   }
#analysis p {
    margin-top: 0.5em; /* Отступ сверху */
    margin-bottom: 0.5em; /* Отступ снизу */
   }
#rightuserblock {
    position: fixed; /* Фиксированное положение */
    right: 20px; /* Расстояние от правого края окна браузера */
    top: 6%; /* Расстояние сверху */


}