.form-center-block{
    width: 50%;
}
.myclassmarker ul {
	list-style-type: none;
}
/*Jquery validate style*/

.my-error-class {
	
    color:#D9534F;
}
.my-valid-class {
    color:green;
}

.pl-search-form {
    margin-left: 0;
    margin-right: 0;
}

#signin > ul > form > li {
    padding: 5px 10px;
}

/*Scrollable dropdown button*/

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

/*Profile page one's view*/

#message {
    display:none
}
.modal.fade:not(.in) .modal-dialog {
    -webkit-transform: translate3d(125%, 0, 0);
    transform: translate3d(125%, 0, 0);
}
.panel {
    margin-bottom: 1px;

}
#performance p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
   }
#info p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
   }
#analysis p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
   }
#rightuserblock {
    position: fixed;
    right: 20px;
    top: 6%;
}
#head {
    width: 70%;
    float:left;
}
#edit_left {
    width: 50%;
    float: left;
}

#edit_right {
    width: 20%;
    float: right;
}

.btn-default, .btn-default:hover {
    color: black;
}

.peleus-scrollable-block {
    max-height: 500px;
    overflow-y: auto;
}
#profile_sidebar {
     overflow: auto;
}
