.form-center-block{
    width: 50%;
}
.myclassmarker ul {
	list-style-type: none;
}
/*Jquery validate style*/

.my-error-class {
	
    color:#D9534F;
}
.my-valid-class {
    color:green;
}

.pl-search-form {
    margin-left: 0;
    margin-right: 0;
}

#signin > ul > form > li {
    padding: 5px 10px;

}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

/*d3.js*/


}