<!DOCTYPE html >
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
   
</head>
<body>
<table style="font-size: 14px;line-height: 19px; height: 100%; width: 100%">
    <tr>
        <td>
            <center>
                <table>
                    <tr>
                        <td>
                            <!-- content start -->
                            <h1>Hi, {{name}} {{surname}}</h1>
                           
                            <table style="width:auto;border-collapse:collapse">
                                <tr style="background-color: #ECF8FF; border-color: #B9E5FF">
                                    <td style="color: #222; font-family: "Helvetica","Arial",sans-serif; font-weight: normal; padding: 4px; margin: 0px">
                                        <p style="text-align:left">You recently registered as {{ username }}.</p>
                                        <p style="text-align:left">Please confirm your email by clicking the button below.</p>
                                    </td>
                                </tr>
                            </table>
                            <br>
                            <table style="width:auto;border-collapse:collapse;">
                                <tr>
                                    <td style="font:14px/1.42857 Arial,sans-serif;padding:4px 10px;background-color:#3068a2;">
                                        <a style="color:white;text-decoration:none;font-weight:bold" href="#">Confirm email</a>
                                    </td>
                                </tr>
                            </table>
                            <table>
                                <tr>
                                    <td align="center">
                                        <center>
                                            <p style="text-align:center;">
                                                 <a style="color: #2BA6CB; text-decoration: none" href="#">Terms</a> | 
                                                 <a style="color: #2BA6CB; text-decoration: none" href="#">Privacy</a> | 
                                                 <a style="color: #2BA6CB; text-decoration: none" href="#">Unsubscribe</a>
                                            </p>
                                        </center>
                                    </td>
                                                
                                </tr>
                            </table>
                            <!-- container end below -->
                        </td>
                    </tr>
                </table>
            </center>
        </td>
    </tr>
</table>
</body>
</html>