{% extends 'base.html' %}
{% block content %}
    <div class="well well-lg">
        <h1>Peleus Forecasting: The World Structured</h1>
    </div>
    <div class="panel panel-body">
        <p>
            Welcome to Peleus Forecasting! We at Peleus are committed to improving the

            quality of political and social information and the mechanisms through which we

            record and share it.
        </p>

        <p>
            We believe that the world is a better, safer and more productive place the more we

            know about each other, our opinions and the way we think. Everyone – from the

            amateur news consumer to professional investors and corporations to legislative

            policy staffs – benefits from a more organized way of recording and presenting our

            political and social predictions and analysis.
        </p>

        <p>
            To that end, our open-source forecasting and analysis platform is designed to

            address inefficiencies in the deployment of crowd-sourced forecasting and academic

            analysis due to ranking, organization and sorting deficiencies. The platform is

            designed to serve as
        </p>
        <ul>
            <li>A public source of expert level political predictions and analysis</li>

            <li>Another platform of exposure for professors, think tank fellows,</li>

            <li>A marketplace for user-to-user identification, through which users can

                journalists and students to highlight their work and publications.

                collaborate to build cooperative analysis exchange networks and

                professional consumers can engage users and user groups for forecasting

                and/or analysis services.
            </li>
        </ul>
    </div>

{% endblock %}