{% load staticfiles %}
<div class="col-sm-3 peleus-sidebar">


    <div class="panel panel-default">
        <div class="panel-heading">Community analysis</div>
        {% for analysis in analysis_set %}
        <div class="panel-body">
            <div class="well">
                {{ analysis.title }}
            </div>
            <div class="analysis-text">
                {{ analysis.body }}
            </div>
            <p class="pull-right">by {{ analysis.user }}</p>
        </div>
        {% endfor %}
    </div>

    <script type="text/javascript" src="{% static '3p/jquery.jtruncate.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.analysis-text').jTruncate({
                length: 100,
                ellipsisText: ' ...'
            });
        })
    </script>
</div>