<div class="col-sm-2 peleus-sidebar">
    <ul id="sidebar" class="nav nav-stacked">
        <li><a href="{% url 'home' %}?{{ FORECAST_FILTER }}={{ FORECAST_FILTER_MOST_ACTIVE }}">Most Active</a></li>
        <li><a href="{% url 'home' %}?{{ FORECAST_FILTER }}={{ FORECAST_FILTER_NEWEST }}">Newest</a></li>
        <li><a href="{% url 'home' %}?{{ FORECAST_FILTER }}={{ FORECAST_FILTER_CLOSING }}">Imminently Closing</a></li>
        {% if forecast_user %}

            <li class="nav-divider"></li>
            {% for area in forecast_user.forecast_areas %}
            <li><a href="#">{{ FORECAST_AREAS|get_item:area }}</a></li>
            {% endfor %}

            <li class="nav-divider"></li>
            {% for region in forecast_user.forecast_regions %}
            <li><a href="#">{{ FORECAST_REGIONS|get_item:region }}</a></li>
            {% endfor %}
        {% endif %}
    </ul>
</div>