{% extends 'index_page.html' %}
{% block content %}
    {% if is_active %}
        <div class="row">
            {% include 'forecasts_sidebar_filter.html' %}
            <div class="col-sm-10">
                {% include 'forecasts.html' %}
            </div>
        </div>
    {% else %}
        {% include 'forecasts.html' %}
    {% endif %}
{% endblock %}

{% block postbodyscripts %}
    {% load staticfiles %}
    <script src="{% if is_active %}{% static '1p/active_forecast_page_charts.js' %}{% else %}{% static '1p/archived_forecast_page_charts.js' %}{% endif %}"></script>
{% endblock %}