{% extends 'index_page.html' %}
{% block content %}
    <div class="container">
        <div class="well well-lg"> {{ forecast.forecast_question }} </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                Tags:
                {% for tag in forecast.tags %}
                    <span class="label label-success">{{ tag }}</span>
                {% endfor %}
            </div>
            <div class="panel-body">
                <div id="peleus-individual-forecast"></div>
            </div>
            <div class="panel-footer">Panel footer</div>
        </div>
    </div>
{% endblock %}

{% block postbodyscripts %}
    {% load staticfiles %}
    <script src="{% static '1p/individual_forecast_page_chart.js' %}"></script>
{% endblock %}