{% extends 'index_page.html' %}
{% block content %}
    <div class="row">
    {% if forecast.is_active %}
    {% if user.is_authenticated %}
        {% include 'individual_forecast_sidebar.html' %}
        {% else %}
        <div class="col-sm-2 peleus-sidebar">
            <span>Please, <a href="#" id="peleus-sidebar-signin">Sign in</a> to participate this forecast</span>
            <script type="text/javascript">
                $('#peleus-sidebar-signin').click(function (e) {
                    e.stopPropagation();
                    $('#signin').find('.dropdown-toggle').dropdown('toggle');
                    $('input[name=username]').focus()
                })
            </script>
        </div>
    {% endif %}
    {% endif %}

        <div class="col-sm-{% if forecast.is_active %}8{% else %}10{% endif %}">
            <div class="well well-lg" id="forecast-question"> {{ forecast.forecast_question }} </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    Tags:
                    {% for tag in forecast.tags %}
                        <span class="label label-success">{{ tag }}</span>
                    {% endfor %}
                </div>
                <div class="panel-body">
                    <div id="peleus-individual-forecast" forecast-id="{{ forecast.id }}"></div>
                </div>
                <div class="panel-footer">Panel footer</div>
            </div>
        </div>

    {% include 'community_analysis_sidebar.html' %}

    </div>
{% endblock %}

{% block postbodyscripts %}
    {% load staticfiles %}
    <script src="{% static '1p/individual_forecast_page_chart.js' %}"></script>
{% endblock %}