<div class="col-sm-2 peleus-sidebar">

    <div id="peleus-toggle-wrap">
        <div class="peleus-toggle collapse">
            <form id="forecast-vote-form" action="{% url 'forecast_vote' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="forecast-id" value="{{ forecast.id }}">
                <div class="form-group">
                    {#                    <span>Input initial prediction</span>#}
                    <input type="number" min="0" max="100" value="" class="form-control"
                           placeholder="Initial prediction" name="forecast-vote" id="forecast-vote" required>
                </div>
                <div class="form-group">
                    <button class="btn btn-default" type="submit">submit</button>
                    <a href="#" class="form-control btn btn-success" data-toggle="modal" id="vote">Initiate
                        forecast</a>
                </div>
            </form>
        </div>
        <div class="peleus-toggle collapse in">
            <button class="form-control btn btn-primary" data-toggle="collapse" data-target=".peleus-toggle"
                    data-parent="#peleus-toggle-wrap">
                Initiate forecast
            </button>
        </div>
    </div>
    <div id="modal-dialog" class="modal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Are you sure?</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" id="forecast-btn-submit">Confirm</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#vote').click(function() {
                var form = $('#forecast-vote-form');
                var vote = $('#forecast-vote').val();
                var name = $('#forecast-question').html();
                if(vote) {
                    $('#modal-dialog .modal-body').html(
                        '<p>Please confirm you wish to initiate your forecast on ' + name +
                        ' at ' + vote + '</p>');
                    $('#modal-dialog').modal('show');

                    $('#forecast-btn-submit').click(function () {
                       form.submit();
                    });
                } else {
                    // form.submit(function (event) {})
                }
            })
        })
    </script>
</div>