{% extends 'index_page.html' %}
{% block content %}
    <div class="row">
    {% if user.is_authenticated %}
        {% include 'individual_forecast_sidebar.html' %}
        {% else %}
        <div class="col-sm-2 peleus-sidebar">
            <span>Please, Sign in to participate this forecast</span>
        </div>
    {% endif %}

        <div class="col-sm-10">
            <div class="well well-lg" id="forecast-question"> {{ forecast.forecast_question }} </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    Tags:
                    {% for tag in forecast.tags %}
                        <span class="label label-success">{{ tag }}</span>
                    {% endfor %}
                </div>
                <div class="panel-body">
                    <div id="peleus-individual-forecast" forecast-id="{{ forecast.id }}"></div>
                </div>
                <div class="panel-footer">Panel footer</div>
            </div>
        </div>

    </div>
{% endblock %}

{% block postbodyscripts %}
    {% load staticfiles %}
    <script src="{% static '1p/individual_forecast_page_chart.js' %}"></script>
{% endblock %}