{% extends "index_page.html" %}
{% load staticfiles%}


{% block content %}
    <script src="{% static '1p/profile.js' %}"></script>

<div class="row">
    <div class="panel col-md-8">
        <div class="row">
            <div class="col-md-6">
                {% if owner %}
                <h4>Hello, {{ user.username }}</h4>
                    {% elif not user.is_authenticated %}
                <h4>{{ profile.username }}'s profile</h4>
                    {% else %}
                <h4>{{ profile.username }}'s profile</h4>
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#SendMessage">
                        Send Message</button>
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#Follow">
                        Follow</button>
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#Invite">
                        Invite to Group</button>
                </div>
        <div class="row">
            <div class="modal fade" id="SendMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Send Message</h4>
                          </div>
                          <div class="modal-body">
                            ...
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
            </div>
            <div class="modal fade" id="Invite" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Invite to Group</h4>
                          </div>
                          <div class="modal-body">
                            ...
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
            </div>
        </div>

                {% endif %}

            </div>
        </div>

        <div class="row">
             <div class="col-md-6">

                 <div id="message">
                     <div class="panel">
                     <label>INBOX</label>
                     <p>Some messages</p>
                     </div>
                 </div>

             </div>
        </div>

        <div class="modal fade bs-example-modal-lg" id="active_forecasts" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModaLabel">Active Forecasts</h4>
                          </div>
                          <div class="modal-body" id="active-set-modal">
                            ...
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
        </div>
        <div class="modal fade" id="archived_forecasts" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModaLabel">Archived Forecasts</h4>
                              </div>
                              <div class="modal-body" id="archived-set-modal">
                                ...
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
            </div>
    <script type="text/javascript">
        $('#active_forecasts').on('shown.bs.modal', function() {
            $.ajax({
                url: "/profile_forecasts/{{ profile.id }}/",
                method: 'GET',
                data: {
                    filter: 'active'
                }
            }).done(function(data) {
                $('#active-set-modal').html(data);
                 $.ajax({
                    url: "/forecasts/",
                    method: 'GET',
                    data: {
                        uid: {{ profile.id }},
                        type: 'active'
                    }

                }).done(function (data) {
                    for (var i = 0; i < data.length; i++) {
                        (function (i) {
                            $('#collapseOne-' + data[i].id).on('shown.bs.collapse', function () {
                                draw_timeseries_chart('#peleus-forecast-' + data[i].id, data[i].votes);
                            }).on('hidden.bs.collapse', function () {
                                $('#peleus-forecast-' + data[i].id).empty();
                            });
                        })(i);
                    }
                });
            });
        }).on('hidden.bs.modal', function() {
            $('#active-set-modal').empty()
        });

        $('#archived_forecasts').on('shown.bs.modal', function() {

            $.ajax({
                url: "/profile_forecasts/{{ profile.id }}/",
                method: 'GET',
                data: {
                    filter: 'archived'
                }
            }).done(function(data) {
                $('#archived-set-modal').html(data);

                $.ajax({
                    url: "/forecasts/",
                    method: 'GET',
                    data: {
                        uid: {{ profile.id }},
                        type: 'archived'
                    }

                }).done(function (data) {
                    for (var i = 0; i < data.length; i++) {
                        (function (i) {
                            $('#collapseOne-' + data[i].id).on('shown.bs.collapse', function () {
                                draw_timeseries_chart('#peleus-forecast-' + data[i].id, data[i].votes);
                            }).on('hidden.bs.collapse', function () {
                                $('#peleus-forecast-' + data[i].id).empty();
                            });
                        })(i);
                    }
                });
            });

        }).on('hidden.bs.modal', function() {
            $('#archived-set-modal').empty()
        });
    </script>

        <div class="col-md-6">

        <div class="row">
            <p></p>
            <p><strong>
                {%if owner %} My {% else %}
                    {{ profile.username }}'s
                {%endif%}
             Active Forecasts
                <a href="#" data-toggle="modal" data-target="#active_forecasts">(See Full Set)</a>
            </strong></p>
        </div>

        <div class="btn-group">
            <div class="panel">
                  <table class="table">
                      {% for forecast in forecasts %}
                       <tr>
                           <td><a href="{% url 'individual_forecast' id=forecast.id %}">{{ forecast.forecast_question }}</a></td>
                       </tr>

                      {% endfor %}
                  </table>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="row">
            <p></p>
            <p><strong>
            {%if owner %} My {% else %}
                    {{ profile.username }}'s
                {%endif%}
             Archived Forecasts
                <a href="#" data-toggle="modal" data-target="#archived_forecasts">(See Full Set)</a>

            </strong></p>
            <div class="btn-group">
                <div class="panel">
                <table class="table">
                        {% for forecast in forecasts_archived %}
                       <tr>
                           <td><a href="{% url 'individual_forecast' id=forecast.id %}">{{ forecast.forecast_question }}</a></td>
                       </tr>
                      {% endfor %}
                </table>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div id="rightuserblock" class=" col-md-offset-1 col-md-3 ">
        <div class="row">
            <div class="panel" id="performance">
            <h4><strong>
            {%if owner %}
                My Performance
                {% else %}
                {{ profile.username }}'s Performance </a>

            {%endif%}
            </strong></h4>

                <p>{{app_name}} Score: XX.X</p>
                <p>General Accuracy: XX.X%</p>
                <p>Number of Forecasts: {{len_predictions}}</p>
                <p>
                {%if owner %}
                See My Archived Forecasts</p>
                {% else %}
                See {{ profile.username }}'s Archived Forecasts
                            {%endif%}
                </p>

            </div>
            <div class="panel" id="analysis">
            <h4><strong>
            {%if owner %} My {% else %}
                    {{ profile.username }}'s
                {%endif%} Analysis
             </strong></h4>
                <p>Profession: {{user.profession}}</p>
                <p>Organization: {{user.organization}}</p>
                <p>Position: XXX</p>
                <p>Location: {{user.country}}</p>
                <p>Published Analysis:</p>
            </div>
             <div class="panel">
                <h4><strong>Connection Center</strong></h4>
                 {% if owner %}
                <p id="messclick"><a href="#">Inbox <span class="badge">1</span></a></p>
                 {% elif not user.is_authenticated %}

                 {% else %}
                <p><a href="#" data-toggle="modal" data-target="#SendMessage">Send Message</a></p>
                 {% endif %}
                <p><a href="#" data-toggle="modal" data-target="#Fol">Followers <span class="badge">2</span></a></p>
                <p><a href="#" data-toggle="modal" data-target="#FolUsers">
                    {% if owner %} My {% else %} {{ profile.username }}'s {% endif %} Followed Users
                    <span class="badge">3</span>
                  </a>
                </p>
                <p><a href="#" data-toggle="modal" data-target="#MyGroups">
                    {% if owner %} My {% else %} {{ profile.username }}'s {% endif %} Groups
                    <span class="badge">4</span>
                   </a>
                </p>
                <p>Weekly Profile Views:</p>

                <div class="modal fade" id="Fol" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Followers</h4>
                          </div>
                          <div class="modal-body">
                            ...
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal fade" id="FolUsers" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Followed Users</h4>
                          </div>
                          <div class="modal-body">
                            ...
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal fade" id="MyGroups" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModaLabel">Groups</h4>
                          </div>
                          <div class="modal-body">
                            ...
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
            </div>
            <div class="panel" id="info">

            {%if owner %}

                <h4><strong>My Info</strong></h4>
                <div id="edit"><a href="#"><h5>Edit</h5></a></div>
                <div style="clear: left"></div>
                {% else %}
                <h4><strong>{{profile.username}}'s Info</strong></h4>

            {%endif%}
                <p>Profession: {{user.profession}}</p>
                <p>Organization: {{user.organization}}</p>
                <p>Position: XXX</p>
                <p>Location: {{user.country}}</p>
            </div>

            </div>
        </div>
    </div>
</div>
{% block postbodyscripts %}
    {% load staticfiles %}
    <script src="{% if is_active %}{% static '1p/active_forecast_page_charts.js' %}{% else %}{% static '1p/archived_forecast_page_charts.js' %}{% endif %}"></script>
{% endblock %}
{% endblock %}