 {% load staticfiles %}
{#    <link href="{% static '1p/main.css' %}" rel="stylesheet">#}
<div id="profile_sidebar" class=" col-md-offset-1 col-md-3 ">
        <div class="row">
            <div class="panel" id="performance">
            <h4><strong>
            {%if owner %}
                My Performance
                {% else %}
                {{ profile.username }}'s Performance </a>

            {%endif%}
            </strong></h4>

                <p>{{app_name}} Score: XX.X</p>
                <p>General Accuracy: XX.X%</p>
                <p>Number of Forecasts: {{len_predictions}}</p>
                <p>
                {%if owner %}
                See My Archived Forecasts</p>
                {% else %}
                See {{ profile.username }}'s Archived Forecasts
                            {%endif%}
                </p>

            </div>

            {% include 'profile_page_myanalysis.html' %}

             <div class="panel">
                <h4><strong>Connection Center</strong></h4>
                 {% if owner %}
                <p id="messclick"><a href="#">Inbox <span class="badge">1</span></a></p>
                 {% elif not user.is_authenticated %}

                 {% else %}
                <p><a href="#" data-toggle="modal" data-target="#SendMessage">Send Message</a></p>
                 {% endif %}
                <p><a href="#" data-toggle="modal" data-target="#Fol">Followers <span class="badge">2</span></a></p>
                <p><a href="#" data-toggle="modal" data-target="#FolUsers">
                    {% if owner %} My {% else %} {{ profile.username }}'s {% endif %} Followed Users
                    <span class="badge">3</span>
                  </a>
                </p>
                <p><a href="#" data-toggle="modal" data-target="#MyGroups">
                    {% if owner %} My {% else %} {{ profile.username }}'s {% endif %} Groups
                    <span class="badge">4</span>
                   </a>
                </p>
                <p>Weekly Profile Views:</p>

                <div class="modal fade" id="Fol" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Followers</h4>
                          </div>
                          <div class="modal-body">

                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal fade" id="FolUsers" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Followed Users</h4>
                          </div>
                          <div class="modal-body">
                            ...
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal fade" id="MyGroups" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModaLabel">Groups</h4>
                          </div>
                          <div class="modal-body">
                            ...
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
            </div>
            <div class="panel" id="info">

            {%if owner %}

                <h4 id="edit_left"><strong>My Info</strong></h4>
                <h5 id="edit_right"><a href="#">Edit</a></h5>
                <div style="clear:left"></div>
                {% else %}
                <h4><strong>{{profile.username}}'s Info</strong></h4>

            {%endif%}
                <p>Profession: {{user.profession}}</p>
                <p>Organization: {{user.organization}}</p>
                <p>Position: XXX</p>
                <p>Location: {{user.country}}</p>
            </div>

            </div>
        </div>
</div>