{% extends 'index_page.html' %}

{% block content %}
    <form class="form-horizontal" action="{% url 'propose_forecast' %}" method="post">
        {% csrf_token %}
        <div class="center-block form-center-block">
            {% for field in form %}
            <div class="form-group{% if field.error %} error{% endif %}">
                <label for="{{ field.name }}" class="col-sm-4">{{ field.label }}</label>
                <div class="col-sm-8">
                    <p>{{ field }}</p>
                    {% if field.error %}
                        <label>{{ field.error }}</label>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-success">Propose!</button>
        </div>
    </form>
{% endblock %}