
    <li class="dropdown" id="signin">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            {% if user.is_authenticated %}
                {{ user.username }}
            {% else %}
                Sign In
            {% endif %}
            <span class="caret"></span>
        </a>
        <ul id="signindrop" class="dropdown-menu" role="menu">
            {% if not user.is_authenticated %}
                <form action="{% url 'signup' %}" method="post">
                    {% csrf_token %}
                    <b>Sign in with your {{ app_name }} account</b>

                    <p>
                    <li>Username</li>
                    <li><input type="text" name="username" class="form-control"/></li>

                    <li>Password</li>
                    <li><input type="password" name="password" class="form-control"/></li>

                  <span class="pull-left">
                      <button type="submit" class="btn btn-large btn-primary">Submit</button>
                  </span>
                  <span class="pull-right">
                      <a href="{% url 'signup' %}">Sign Up</a>
                  </span>


                    <span class="clearfix"></span>
                </form>
            {% else %}
                <a href="#">Logout</a>
            {% endif %}
        </ul>
    </li>
