<!DOCTYPE html>
<html ng-app="forecast">
<head lang="en">
    <meta charset="UTF-8">
    <title>{{app_name}}</title>
    {% load staticfiles%}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/forecast.css' %}">
    <script type="text/javascript" src="{% static 'js/libs/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/bootstrap.min.js' %}"></script>
    {% comment %}<script type="text/javascript" src="{% static 'js/libs/angular.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/angular-cookies.js' %}"></script>{% endcomment %}
    <script type="text/javascript" src="{% static 'js/libs/checklist-model.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/app/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/helpers.js' %}"></script>
    {% block headerscripts %}{% endblock %}
</head>
<body>
    <header>
        {% include "nav.html" %}
    </header>
    <div id="wrapper">
        <section id="content">
                {% block content%}{% endblock %}
        </section>
    </div>
</body>
{% block postbodyscripts %}{% endblock %}
</html>