{% extends "base.html" %}
{% load staticfiles%}
{% block headerscripts %}
<!-- <script src="{% static 'js/linkPreview.js' %}" ></script>
<script src="{% static 'js/linkPreviewRetrieve.js' %}"></script> -->
<script src='https://cdn.firebase.com/js/client/2.0.4/firebase.js'></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<!-- <script src="http://code.highcharts.com/adapters/standalone-framework.js"></script> -->
<!-- 
<link rel="stylesheet" type="text/css" href="{% static 'css/linkpreview/linkPreview.css' %}"/> -->
<!-- <script src="{% static 'js/libs/d3.min.js' %}"></script>
<script src="{% static 'js/libs/d3.layout.min.js' %}"></script>
<script src="{% static 'js/libs/rickshaw.min.js' %}"></script> -->
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div class="panel"><h3>{{forecast.forecast_question}}</h3></div>
            {%if user_time_series%}
            <div id="timechart" class=""></div>
            <script>
              $(function () { 
                  Highcharts.theme = {
                      colors: ['#058DC7', '#50B432', '#ED561B', '#DDDF00', '#24CBE5', '#64E572', 
                               '#FF9655', '#FFF263', '#6AF9C4'],
                      chart: {
                          backgroundColor: "#353535",
                      },
                      title: {
                          style: {
                              color: '#000',
                              font: 'bold 16px "Trebuchet MS", Verdana, sans-serif'
                          }
                      },
                      subtitle: {
                          style: {
                              color: '#666666',
                              font: 'bold 12px "Trebuchet MS", Verdana, sans-serif'
                          }
                      },

                      legend: {
                          itemStyle: {
                              font: '9pt Trebuchet MS, Verdana, sans-serif',
                              color: 'black'
                          },
                          itemHoverStyle:{
                              color: 'gray'
                          }   
                      }
                  };

                  Highcharts.setOptions(Highcharts.theme);

                  $('#timechart').highcharts({
                      chart: {
                          type: 'line',
                      },

                      title: {
                            text: null,
                      },
                      
                      xAxis: {
                        type: 'datetime',
                        title: {
                          text: 'Time'
                        }
                      },
                      yAxis: {
                          title: {
                              text: 'Probability'
                          },
                          max: 100,
                      },
                      series: [{
                          name: 'Your Prediction',
                          data: [{% for point in user_time_series %}[{{point.timestamp}},{{point.answer}}], {%endfor%}]
                      }, {
                          name: 'Your Organization\'s Average Prediction',
                          data: [{% for point in org_time_series %}[{{point.timestamp}},{{point.answer}}], {%endfor%}]
                      }]
                  });
                
              });


              </script>
            {%endif%}
            {%if current_prediction %}
              <h4>Current Prediction: {{current_prediction}}</h4>
            {% endif %}
            {%if current_org_prediction %}
              <h4>Average Organization Prediction: {{current_org_prediction}}</h4>
            {% endif %}
        
            <form name="forecast" action="/submit_forecast/" method="POST">
            {%csrf_token%}
            {% if forecast.forecast_type == 1 %}
              <input type="radio" name="answer" id="Yes" value="Yes">Yes<br>
              <input type="radio" name="answer" id="No" value="No">No<br>
              <input type="hidden" name="usr_id" value={{user.user_id}}>
              <input type="hidden" name="forecast_id" value={{forecast.forecast_id}}>
            {% endif %}
            {% if forecast.forecast_type == 2 %}
              Probability: <input type="text" name="answer" placeholder="Between 0 and 100"><br>
              <input type="hidden" name="usr_id" value={{user.user_id}}>
              <input type="hidden" name="forecast_id" value={{forecast.forecast_id}}>
            {% endif %}
            </form>

            </div>
        <div class="panel col-md-4">
            <h3>Community Analysis</h3>
            <input type='text' id='analysisPost' placeholder='Post your analysis here'>

        </div>
    </div>
    <input id="username" type="hidden" value={{user.username}}>

{% endblock %}

{% block postbodyscripts %}
<script>
        var peleusFeed = new Firebase('https://popping-fire-4580.firebaseio.com/');
        $('#analysisPost').keypress(function (e) {
        if (e.keyCode == 13) {
          var text = $('#analysisPost').val();
          peleusFeed.push({'user':$('#username').val(),'text':text})
          $('#analysisPost').val('');
        }
      });
        peleusFeed.on('child_added', function(snapshot) {
        var message = snapshot.val();
        displayChatMessage(message.user, message.text);
      });
      function displayChatMessage(name, text) {
        $('<div/>').text(text).prepend($('<em/>').text(name+': ')).appendTo($('#analysisPost'));
        $('#analysisPost')[0].scrollTop = $('#analysisPost')[0].scrollHeight;
      };
</script>

{% endblock %}