{% extends "base.html" %}
{% block headerscripts %}
<script src="http://code.highcharts.com/highcharts.js"></script>
{% endblock %}

{% block content %}
	
    {% include "chart_settings.html" %}

    {%if forecasts%}
    
    {%for forecast in forecasts %}
    <div class="panel col-md-12">
    <h3><a href="{% url 'forecast' %}?forecast_id={{forecast.forecast_id}}">{{forecast.forecast_question}}</a></h3>
            <div id="timechart{{forecast.forecast_id}}" class=""></div>
            <script>
              $(function () { 
                  $('#timechart{{forecast.forecast_id}}').highcharts({
                      chart: {
                          type: 'line',
                      },

                      title: {
                            text: null,
                      },
                      
                      xAxis: {
                        type: 'datetime',
                        title: {
                          text: 'Time'
                        }
                      },
                      yAxis: {
                          title: {
                              text: 'Probability'
                          },
                          max: 100,
                      },
                      series: [{
                          name: 'Peleus Average',
                          data: [{% for point in forecast.time_series %}[{{point.timestamp}},{{point.answer}}], {%endfor%}]
                      }]
                  });
                
              });


              </script>
              </div>
              {% endfor %}
             
      {%endif%}
{% endblock %}