{% extends "base.html" %}
{% load staticfiles%}
{% block headerscripts %}
<script src="http://code.highcharts.com/highcharts.js"></script>
{% endblock %}
{% block content %}
{% include "chart_settings.html" %}

    <div class="row">
        <div class="panel col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <h4>Hello, {{user.name}}</h4>
                </div>
                <div class="panel row-panel col-md-6">
                    <h4>My Performance</h4>
                    <p>{{app_name}} Score: XX.X</p>
                    <p>General Accuracy: XX.X%</p>
                    <p>Number of Forecasts: {{len_predictions}}</p>
                    <p>See My Archived Forecasts</p>
                </div>
            </div>
            <div class="row">
                <p>My Active Forecasts (See Full Set)</p>
                <div class="panel">
                    {%for prediction in predictions %}
                    <h3><a href="{% url 'forecast' %}?forecast_id={{prediction.forecast.forecast_id}}">{{prediction.forecast.forecast_question}}</a></h3>
                            <div id="timechart{{prediction.forecast.forecast_id}}" class=""></div>
                            <script>
                              $(function () { 
                                  $('#timechart{{prediction.forecast.forecast_id}}').highcharts({
                                      chart: {
                                          type: 'line',
                                      },

                                      title: {
                                            text: null,
                                      },
                                      
                                      xAxis: {
                                        type: 'datetime',
                                        title: {
                                          text: 'Time'
                                        }
                                      },
                                      yAxis: {
                                          title: {
                                              text: 'Probability'
                                          },
                                          max: 100,
                                      },
                                      series: [{
                                          name: 'Peleus Average',
                                          data: [{% for point in prediction.peleus_time_series %}[{{point.timestamp}},{{point.answer}}], {%endfor%}]
                                      },
                                      {
                                          name: '{{user.organization}} Average',
                                          data: [{% for point in prediction.org_time_series %}[{{point.timestamp}},{{point.answer}}], {%endfor%}]
                                      },
                                      {
                                          name: 'Your Forecast',
                                          data: [{% for point in prediction.user_time_series %}[{{point.timestamp}},{{point.answer}}], {%endfor%}]
                                      }]
                                  });
                                
                              });


                              </script>
                      {% endfor %}
                </div>
                <p>Relevant Forecasts (See Full Set)</p>
                <div class="panel">
                    <img src="{% static 'images/chart.png' %}" width="100%" height="230px">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="panel">
                    <h4>Connection Center</h4>
                    <div>
                        Messages
                        <ul>
                            <li>Inbox [0 New Messages]</li>
                            <li>Find User</li>
                        </ul>
                    </div>
                    <div>
                        Followers
                        <ul>
                            <li>Current Followers [0 New Followers]</li>
                            <li>Send Message</li>
                        </ul>
                    </div>
                    <div>
                        Groups
                        <ul>
                            <li>My Groups</li>
                            <li>Find Group</li>
                        </ul>
                    </div>
                    <div>
                        Alerts
                        <ul>
                            <li>Number of Views</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel">
                    <h4>My Info</h4>
                    <p>Profession: {{user.profession}}</p>
                    <p>Organization: {{user.organization}}</p>
                    <p>Position: XXX</p>
                    <p>Location: {{user.country}}</p>
                    <p>Areas of Interest: {{user.forecast_areas}}</p>
                    <img src="{% static 'images/pie_chart.png' %}" width="100%">
                </div>
            </div>
        </div>
    </div>
{% endblock %}