<ul class="nav navbar-nav navbar-right">
    <li class="dropdown" id="signin">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            {% if session %}
                {{ session.username }}
            {% else %}
                Sign In
            {% endif %}
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            {% if session == None %}
                <form action="{% url 'authorize' %}" method="post">
                    {% csrf_token %}
                    <b>Sign in with your {{ app_name }} account</b>

                    <p>
                    <li>Username</li>
                    <li><input type="text" name="username" class="form-control"/></li>
                    </p>
                    <p>
                    <li>Password</li>
                    <li><input type="password" name="password" class="form-control"/></li>
                    </p>
                  <span class="pull-left">
                      <button type="submit" class="btn btn-large btn-primary">Submit</button>
                  </span>
                  <span class="pull-right">
                      <!-- <a href="#" style="color: #4E8DE6;">Forgot Your Password?</a> -->
                      <a href="{% url 'signup' %}" style="color: #4E8DE6;">Sign Up</a>
                  </span>


                    <span class="clearfix"></span>
                </form>
            {% else %}
                <a href="{% url 'logout' %}" style="color: #4E8DE6;">Logout</a>
            {% endif %}
        </ul>
    </li>
</ul>