{% extends "base.html" %}
{% load staticfiles %}



{% block content %}

<script type="text/javascript" src="{% static 'js/libs/validation.js' %}"></script>


      <div class="row" id="signup">
        <div class="panel">
            <div class="well well-lg">Welcome to Peleus Forecasting! We are excited for you to join our community of political forecasters, analysts and observers.
                Please fill in the information below to register a profile.</div>

            <div class="col-md-10">
                <h4>We respect many users’ desire to remain anonymous; should a user desire, they have the option to
                    only display his or her Username on {{ app_name }}.</h4>
            </div>
            <div class="clearfix"></div>
            <br>
               <div class="container">
                    <div class="row">
                  
            <form id="signupForm" class="form-horizontal" method="post" action="{% url "signup" %}" >
                    <div class="form-group">
                        <div id="signup_p" class="col-md-6 col-md-offset-3">
                    {% csrf_token %}
                    {% for field in form_main %}
                       <label> {{ field.label }} </label> 
                       <p>{{ field }} </p>
                 
                    {% endfor %}
                        </div>
                 </div>
                     
                    
                        <div class="col-md-6 col-md-offset-3">
                    <button type="submit" class="btn btn-large btn-primary">Submit</button>
                        </div>

            </form>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}