{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="row" id="signup">
        <div class="panel">
            <div class="well well-lg">Welcome to Peleus Forecasting! We are excited for you to join our community of political forecasters, analysts and observers.
                Please fill in the information below to register a profile.</div>

            <div class="col-md-10">
                <h4>We respect many users’ desire to remain anonymous; should a user desire, they have the option to
                    only display his or her Username on {{ app_name }}.</h4>
            </div>
            <div class="clearfix"></div>
            <br>

            <div class="row">
                <form name="signupform" method="post" ng-submit="form.submit('{% url "signup" %}')"
                      ng-controller="signupFormController as form" novalidate>
                    {% csrf_token %}
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div id="signup-errors" ng-show="form.errors">
                            <li ng-repeat="error in form.errors">__error__</li>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-3"></div>
                    <div class="panel col-md-6">
                        <header>Basic Information</header>
                        <p class="pull-left">
                            {{ form.display_only_username }} {{ form.display_only_username.label }}
                        </p>

                        <p class="pull-right">
                            &nbsp;- Required fields
                        </p>

                        <p class="pull-right required">
                        </p>

                        <p {% if form.name.field.required %}class="required"{% else %}class="optional"{% endif %}>
                            {{ form.name }}

                        <div class="error-message" ng-show="signupform.name.$invalid && signupform.name.$dirty">
                            <li ng-show="signupform.name.$error.required">This field is required</li>
                            <li ng-show="signupform.name.$error.minlength">This field is too short</li>
                            <li ng-show="signupform.name.$error.pattern">This field must contain only letters</li>
                        </div>
                        </p>
                        <p {% if form.username.field.required %}class="required"{% else %}class="optional"{% endif %}>
                            {{ form.username }}

                        <div class="error-message" ng-show="signupform.username.$invalid && signupform.username.$dirty">
                            <li ng-show="signupform.username.$error.required">Please provide Username</li>
                            <li ng-show="signupform.username.$error.minlength">Username must be at
                                least {{ form.username.field.min_length }} characters long
                            </li>
                            <li ng-show="signupform.username.$error.pattern">Username can't start with digit and must
                                contain only letters, numbers and underscore
                            </li>
                        </div>
                        </p>
                        <p {% if form.password.field.required %}class="required"{% else %}class="optional"{% endif %}>
                            {{ form.password }}

                        <div class="error-message" ng-show="signupform.password.$invalid && signupform.password.$dirty">
                            <li ng-show="signupform.password.$error.required">Password field is required</li>
                            <li ng-show="signupform.password.$error.minlength">Password must be at
                                least {{ form.password.field.min_length }} characters long
                            </li>
                            <li ng-show="signupform.password.$error.pattern">Password must contain only letters, numbers
                                and underscore
                            </li>
                        </div>
                        </p>
                        <p {% if form.password_conf.field.required %}class="required"
                           {% else %}class="optional"{% endif %}>
                            {{ form.password_conf }}

                        <div class="error-message"
                             ng-show="(signupform.password_conf.$invalid && signupform.password_conf.$dirty) || (form.data.password !== form.data.password_conf)">
                            <li ng-show="signupform.password_conf.$error.required">Please confirm your password</li>
                            <li ng-show="form.data.password !== form.data.password_conf">Passwords do not match</li>
                            <li ng-show="signupform.password_conf.$error.pattern">Password must contain only letters,
                                numbers and underscore
                            </li>
                        </div>
                        </p>
                        <p {% if form.email.field.required %}class="required"{% else %}class="optional"{% endif %}>
                            {{ form.email }}

                        <div class="error-message" ng-show="signupform.email.$invalid && signupform.email.$dirty">
                            <li ng-show="signupform.email.$error.required">Email is required</li>
                            <li ng-show="signupform.email.$error.pattern">Invalid Email</li>
                        </div>
                        </p>
                        <p {% if form.country.field.required %}class="required"{% else %}class="optional"{% endif %}>
                            {{ form.country }}

                        <div class="error-message" ng-show="signupform.country.$invalid && signupform.country.$dirty">
                            <li ng-show="signupform.country.$error.required">This field is required</li>
                            <li ng-show="signupform.country.$error.pattern">This field must contain only letters</li>
                        </div>
                        </p>
                        <p {% if form.city.field.required %}class="required"{% else %}class="optional"{% endif %}>
                            {{ form.city }}

                        <div class="error-message" ng-show="signupform.city.$invalid && signupform.city.$dirty">
                            <li ng-show="signupform.city.$error.pattern">This field must contain only letters</li>
                        </div>
                        </p>
                        <p {% if form.profession.field.required %}class="required"{% else %}class="optional"{% endif %}>
                            {{ form.profession }}

                        <div class="error-message"
                             ng-show="signupform.profession.$invalid && signupform.profession.$dirty">
                            <li ng-show="signupform.profession.$error.pattern">This field must contain only letters</li>
                        </div>
                        </p>
                        <p {% if form.organization.field.required %}class="required"
                           {% else %}class="optional"{% endif %}>
                            <label>{{ form.organization.field.label }}:</label>
                            {{ form.organization }}

                        <div class="error-message"
                             ng-show="signupform.organization.$invalid && signupform.organization.$dirty">
                            <li ng-show="signupform.organization.$error.pattern">This field must contain only letters
                            </li>
                        </div>
                        </p>
                        <p>
                            <span>Sign up with:&emsp;</span>
                            <img src="{% static 'images/facebook.png' %}" alt="facebook" width="24"
                                 title="Sign Up with Facebook">
                            <img src="{% static 'images/twitter.png' %}" alt="twitter" width="24"
                                 title="Sign Up with Twitter">
                            <img src="{% static 'images/linkedin.png' %}" alt="linkedin" width="24"
                                 title="Sign Up with LinkedIn">
                        </p>
                        <br>

                        <p>
                            {{ form.agree_with_terms }} {{ form.agree_with_terms.label }}
                        </p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-large btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}