{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="row" id="signup">
        <div class="panel">
            <div class="well well-lg">Welcome to Peleus Forecasting! We are excited for you to join our community of political forecasters, analysts and observers.
                Please fill in the information below to register a profile.</div>

            <div class="col-md-10">
                <h4>We respect many users’ desire to remain anonymous; should a user desire, they have the option to
                    only display his or her Username on {{ app_name }}.</h4>
            </div>
            <div class="clearfix"></div>
            <br>

            <div class="row">
                <form method="post" action="{% url "signup" %}" >
                    {% csrf_token %}
                    {% for field in form_main %}
                        {{ field.label }} {{ field }}<br>
                    {% endfor %}

                    <button type="submit" class="btn btn-large btn-primary">Submit</button>

                </form>
            </div>
        </div>
    </div>
{% endblock %}