{% extends "base.html" %}
{% load staticfiles%}
{% block content %}
    <div class="row">
        <div class="panel">
            <div class="well well-lg">Thank you for joining Peleus Forecasting, we are excited for you to join our community of politically-minded forecasters, analysts and observers. Your profile is being approved and you should receive an email confirmation shortly. In the meantime please consider filling in some optional information about your areas of interest, which will appear on your profile page. This information can also be input at anytime in the future. Welcome to the Peleus Forecasting community!</div>
            </div>

            <!-- <h1>{{app_name}}!</h1> -->
            <!-- <div class="row">
                <div class="col-md-6">
                    <p>
                        <h4>
                            Either click below to continue to {{app_name}} and begin forecasting, or fill in the information
                            to the right to complete your profile. (You will always be able to update profile at a later time)
                        </h4>
                    </p>
                    <br>
                    <p>
                        <button class="btn btn-large btn-primary" onClick="window.location = '{% url 'index' %}'">Continue to {{app_name}}</button>
                    </p>
                </div>
                <div class="col-md-6">
                    <form method="post">
                        <p>
                            <h4>
                                Fill in the information below to complete your profile. This will help other users identify the
                                issues and regions in which you are most interested.
                            </h4>
                        </p>
                        <div id="signup-errors">
                            <li>__error__</li>
                        </div>
                        <div class="panel">
                            {% csrf_token %}
                            <header>Forecasting Information</header>
                            Areas of interest
                            <p>
                                {{form.forecast_areas}}
                            </p>
                            Regions of interest
                            <p>
                                {{form.forecast_regions}}
                            </p>
                            <input type="submit" class="btn btn-large btn-primary" value="Complete profile"/>
                        </div>
                    </form>
                </div>
            </div> -->
        </div>
    </div>
{% endblock %}